/* CSS Document */

/* Brings in Google font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700|Open+Sans+Condensed:700);

#myCalculator { margin: 0; padding: 0; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 300; line-height: 24px; max-width: 800px; }

/* #444 = medium gray */
#myCalculator main { background-color: #444; }

/* #fff = white */
/* center on the x and 5px on the y */
/* background-size: proportionately scaled size for each of the light bulb graphics */
#myCalculator main section {
	width: 25%;
	float: left;
	text-align: center;
	padding-top: 110px;
	color: #fff;
	background-repeat: no-repeat;
	background-position: center 5px;
	background-size: 63px 100px;
}

/* have section elements inside the main element with 
the float properties, need to clear floats in main section */

/* after is a pseudo element 
need to give after some clear properties */
/* to get psuedo element to show up,
need to give it some content */
/* without content property, the display type
and clear won't show up or take effect.
That is why, set display to block and clear to both
*/
/* This way if there were any content inside 
main area outside of the sections, 
the main container will extend to encompass
all of the section elements because of the clear both
*/ 
#myCalculator main::after { content: ''; display: block; clear: both; }

/* For all sections we've already set the 
background repeat position and size, 
so we only need to set the color of the background and image*/
/* using red for incadescent */
/* red for halogen */
/* gold for cfl */
/* green for led */
#myCalculator main section.inc { background-color: #ba2d2d; background-image: url(images/bulb_inc.svg); }
#myCalculator main section.hal { background-color: #de6615; background-image: url(images/bulb_hal.svg); }
#myCalculator main section.cfl { background-color: #efc20f; background-image: url(images/bulb_cfl.svg); }
#myCalculator main section.led { background-color: #36b23c; background-image: url(images/bulb_led.svg); }

/* style each of the div elements inside each section
as well as the text */
/* > want to direct the div elements that are the direct
descendant of the section element */
/* if we had more that one div inside the section,
target only the main div container */
/* padding: 5 pixels on the top and bottom and 0 pixels on right and left */
/* background color: semi-transparent black so that area 
behind type is a little bit darker that the base color
Using the rgba color space for that
rgba need to specify red, green and blue and the alpha setting
So, 0 for red, 0 for green and 0 for blue
.15 for 15% opacity or 85% transparent. */
#myCalculator main section > div { padding: 5px 0; background-color: rgba(0,0,0,.15); }


/* rule that will target h4 elements */
#myCalculator main h4 {
	font-family: 'Open Sans Condensed', san-serif;
	font-size: .8em;
	letter-spacing: 1px;
	margin: 0 0 5px 0;
	text-transform: uppercase;
}

/* rule for paragraphs */
/* make use of the 700 weight style brought in from
Google Fonts */
#myCalculator main p { margin: 0; font-size: 1.5em; font-weight: 700; }

/* need price to be a little bit smaller that the wattage */
/* However, both are inside a paragraph element */
/* so, need to target a paragraph element if it 
follows another paragraph element */
/* Reset the font size, and set font-weight back to 300 */
#myCalculator main p + p { font-size: 1em; font-weight: 300; }

/* literally adding a w after every paragraph element inside
the paragraph element */
#myCalculator main p::after { content:'w'; }

/* put a $ before content in the second paragraph element */
#myCalculator main p + p::before { content:'$'; }

/* following will override pseudo element added after
paragraph element inside of main (2 lines above)
because this CSS rule is more specific */
/* Adds per year after amount
using color semi-transparent white
255, 255, 255, .5 : .5 means 50% transparent
padding-left: 4px adds 4 pixels to the left
*/
#myCalculator main p + p::after { content:'per year'; color: rgba(255,255,255,.5); padding-left: 4px; }

/* CSS rules to style the form area */
/* background-color: set to black */
/* margin set to 0 on all 4 sides
padding: 10px top and bottom and 0px right and left */
#myCalculator form {
	background-color: #000;
	margin: 0; padding: 10px 0px ;
}

/* target break tags added before */
/* on larger screens want break tags to be hidden, 
or set display to none */
#myCalculator form br { display: none; }

/* Targeting div elements inside of the form elements
set color to white 
width to 33%
set float property so these will line up horizontally
text-align to center
padding 10px for the top and 0 on the right 5px for the bottom and 0 on the left */
#myCalculator form > div {
	color: #fff;
	width: 33%;
	float: left;
	text-align: center;
	padding: 10px 0 5px 0;
}

/* Rule to clear the floats within the form element
Another pseudo element
set content to an empty string
set display type to block
clear property of both */
#myCalculator form::after { content:''; display: block; clear: both; }